# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  # See https://github.com/biomejs/pre-commit/pull/59
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.8
    hooks:
      - id: biome-check
        entry: biome check --write --files-ignore-unknown=true --no-errors-on-unmatched --error-on-warnings

  - repo: https://github.com/FeryET/pre-commit-rust
    rev: v1.2.1
    hooks:
    - id: fmt
      entry: 'cargo +nightly fmt'
      args: ["--manifest-path", "fp-vis-wasm/Cargo.toml", "--"]
    - id: clippy
      args: ["--manifest-path", "fp-vis-wasm/Cargo.toml", "--tests", "--", "-D", "warnings"]
